Repository renatocron/howk: changes, and which Codecov flags are due for each by the changed paths.
All: Core (domain, config, bootstrap), Broker (Kafka), HotState (Redis), Delivery Pipeline, Scheduler, API (HTTP), Scripting (Lua), Reconciler

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 60%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
    patch:
      default:
        target: 60%
        threshold: 1%
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,components,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: core
      name: Core (domain, config, bootstrap)
      paths:
        - internal/domain/**
        - internal/config/**
        - internal/app/**

    - component_id: broker
      name: Broker (Kafka)
      paths:
        - internal/broker/**

    - component_id: hotstate
      name: HotState (Redis)
      paths:
        - internal/hotstate/**

    - component_id: delivery
      name: Delivery Pipeline
      paths:
        - internal/worker/**
        - internal/delivery/**
        - internal/retry/**
        - internal/circuit/**

    - component_id: scheduler
      name: Scheduler
      paths:
        - internal/scheduler/**

    - component_id: api
      name: API (HTTP)
      paths:
        - internal/api/**

    - component_id: scripting
      name: Scripting (Lua)
      paths:
        - internal/script/**

    - component_id: reconciler
      name: Reconciler
      paths:
        - internal/reconciler/**

Update readme [skip ci]
  CLAUDE.md
Due: none

feat(reconciliation): implementa recuperação sem manutenção usando tópicos compactados
  README.md
  cmd/reconciler/main.go
  docker-compose.yml
  docs/FAILURE_MODES.md
  internal/broker/broker.go
  internal/broker/kafka.go
  internal/config/config.go
  internal/domain/types.go
  internal/mocks/broker.go
  internal/reconciler/reconciler.go
  internal/reconciler/reconciler_test.go
  internal/scheduler/scheduler_test.go
  internal/worker/slow_test.go
  internal/worker/worker.go
  internal/worker/worker_concurrency_test.go
  internal/worker/worker_test.go
Due: Core (domain, config, bootstrap), Broker (Kafka), Delivery Pipeline, Scheduler, Reconciler

Wip
  README.md
  docs/FAILURE_MODES.md
  internal/reconciler/reconciler.go
Due: Reconciler

feat(hotstate): implementa padrão Sentinel para auto-recuperação e resolução de conflitos LWW
  internal/domain/types.go
  internal/hotstate/hotstate.go
  internal/hotstate/hotstate_test.go
  internal/hotstate/redis.go
  internal/mocks/hotstate.go
  internal/reconciler/reconciler.go
  internal/reconciler/reconciler_test.go
  internal/scheduler/scheduler_test.go
  internal/worker/worker.go
  internal/worker/worker_test.go
Due: Core (domain, config, bootstrap), HotState (Redis), Delivery Pipeline, Scheduler, Reconciler

Update readme [skip ci]
  README.md
  docs/FAILURE_MODES.md
Due: none

refactor(api, broker, worker): unifica lógica de enfileiramento e publicação de mensagens
  internal/api/api_test.go
  internal/api/h_webhook.go
  internal/broker/kafka.go
  internal/worker/slow.go
  internal/worker/worker.go
  internal/worker/worker_test_helper.go
Due: Broker (Kafka), Delivery Pipeline, API (HTTP)

feat(bench): adiciona infraestrutura de teste de estresse para HOWK
  bench/Dockerfile
  bench/Makefile
  bench/README.md
  bench/benchmark-job.yaml
  bench/benchmark-parallel.yaml
  bench/k8s-sample/00-namespace.yaml
  bench/k8s-sample/01-configmap.yaml
  bench/k8s-sample/10-redis.yaml
  bench/k8s-sample/11-redpanda.yaml
  bench/k8s-sample/12-topics-init.yaml
  bench/k8s-sample/20-api.yaml
  bench/k8s-sample/21-worker.yaml
  bench/k8s-sample/22-scheduler.yaml
  bench/k8s-sample/23-reconciler.yaml
  bench/k8s-sample/README.md
  bench/k8s-sample/kustomization.yaml
  bench/k8s-sample/stress-test/00-echo-server.yaml
  bench/k8s-sample/stress-test/01-stress-test.yaml
  bench/k8s-sample/stress-test/02-stress-test-advanced.yaml
  bench/k8s-sample/stress-test/Dockerfile
  bench/k8s-sample/stress-test/kustomization.yaml
  bench/k8s-sample/stress-test/stress-test-v2.go
  bench/k8s-sample/stress-test/stress-test.go
  bench/stress-test.go
Due: none

feat: adiciona suporte a Docker e Helm para implantação do HOWK
  Dockerfile
  Makefile
  charts/README.md
  charts/howk/.helmignore
  charts/howk/Chart.yaml
  charts/howk/templates/NOTES.txt
  charts/howk/templates/_helpers.tpl
  charts/howk/templates/api.yaml
  charts/howk/templates/configmap.yaml
  charts/howk/templates/ingress.yaml
  charts/howk/templates/reconciler.yaml
  charts/howk/templates/scheduler.yaml
  charts/howk/templates/worker.yaml
  charts/howk/values.yaml
Due: none

feat(kafka): adiciona configuração de concorrência do consumidor
  charts/howk/templates/configmap.yaml
  charts/howk/values.yaml
  internal/broker/kafka.go
  internal/config/config.go
Due: Core (domain, config, bootstrap), Broker (Kafka)

refactor(broker): implementa processamento concorrente baseado em chave para mensagens Kafka
  bench/k8s-sample/stress-test/stress-test.go
  internal/broker/kafka.go
  internal/testutil/prefixed_hotstate.go
Due: Broker (Kafka)

refactor(kafka): remove configuração de concorrência do consumidor
  charts/howk/templates/configmap.yaml
  charts/howk/values.yaml
  internal/broker/kafka.go
  internal/config/config.go
Due: Core (domain, config, bootstrap), Broker (Kafka)

feat: desativa auto-injeção de variáveis de ambiente de serviço e melhora carregamento de configuração
  charts/howk/templates/api.yaml
  charts/howk/templates/reconciler.yaml
  charts/howk/templates/scheduler.yaml
  charts/howk/templates/worker.yaml
  cmd/api/main.go
  cmd/reconciler/main.go
  cmd/scheduler/main.go
  cmd/worker/main.go
Due: none

feat(concurrency): adiciona limitador de concorrência por domínio e paralelismo por chave no Kafka
  .env.example
  README.md
  charts/howk/templates/configmap.yaml
  charts/howk/values.yaml
  cmd/worker/main.go
  internal/broker/kafka.go
  internal/config/config.go
  internal/delivery/limiter.go
  internal/delivery/limiter_test.go
  internal/hotstate/redis.go
  internal/worker/slow_test.go
  internal/worker/worker.go
  internal/worker/worker_concurrency_test.go
  internal/worker/worker_integration_test.go
  internal/worker/worker_test.go
Due: Core (domain, config, bootstrap), Broker (Kafka), HotState (Redis), Delivery Pipeline

feat(transformer): adiciona sistema de transformação Lua para fan-out de webhooks com hot-reload e autenticação
  cmd/api/main.go
  internal/api/h_incoming.go
  internal/api/server.go
  internal/config/config.go
  internal/transformer/auth.go
  internal/transformer/engine.go
  internal/transformer/registry.go
Due: Core (domain, config, bootstrap), API (HTTP)

Update docs
  docs/transformers-examples.md
  docs/transformers.md
Due: none

refactor: improve code quality across 14 files (desloppify health pass)
  .gitignore
  cmd/reconciler/main.go
  docs/FAILURE_MODES.md
  internal/api/h_script.go
  internal/api/script_test.go
  internal/config/config.go
  internal/hotstate/hotstate_test.go
  internal/hotstate/redis.go
  internal/luasandbox/sandbox.go
  internal/reconciler/reconciler.go
  internal/script/engine.go
  internal/transformer/auth.go
  internal/transformer/engine.go
  internal/transformer/registry.go
Due: Core (domain, config, bootstrap), HotState (Redis), API (HTTP), Scripting (Lua), Reconciler

refactor: improve code quality across 13 files (desloppify pass 2)
  cmd/worker/main.go
  internal/api/h_incoming.go
  internal/api/h_webhook.go
  internal/broker/kafka.go
  internal/broker/mock_producer_test.go
  internal/domain/types.go
  internal/hotstate/hotstate.go
  internal/script/engine.go
  internal/script/modules/kv.go
  internal/script/modules/kv_test.go
  internal/worker/slow.go
  internal/worker/worker.go
  internal/worker/worker_test.go
Due: Core (domain, config, bootstrap), Broker (Kafka), HotState (Redis), Delivery Pipeline, API (HTTP), Scripting (Lua)

refactor: improve code quality across 27 files (desloppify pass 3)
  cmd/worker/main.go
  internal/api/api_test.go
  internal/api/h_check_deps.go
  internal/api/h_incoming.go
  internal/api/h_script.go
  internal/api/h_webhook.go
  internal/api/incoming_test.go
  internal/api/server.go
  internal/domain/types.go
  internal/domain/types_test.go
  internal/mocks/script.go
  internal/script/consumer.go
  internal/script/consumer_test.go
  internal/script/domain.go
  internal/script/engine_binary_test.go
  internal/script/engine_test.go
  internal/script/interfaces.go
  internal/script/loader.go
  internal/script/loader_test.go
  internal/script/modules/http.go
  internal/script/modules/http_test.go
  internal/script/publisher.go
  internal/script/publisher_test.go
  internal/transformer/engine.go
  internal/worker/worker.go
  internal/worker/worker_errorpath_test.go
  internal/worker/worker_test.go
  internal/worker/worker_test_helper.go
Due: Core (domain, config, bootstrap), Delivery Pipeline, API (HTTP), Scripting (Lua)

refactor: add transformer errors type and concurrency gate tests
  internal/transformer/errors.go
  internal/worker/concurrency_gate_test.go
  internal/worker/worker_test_helper.go
Due: Delivery Pipeline

refactor: export ConcurrencyGate fields for test access
  internal/worker/worker.go
Due: Delivery Pipeline

refactor: consolidate bootstrap, fix metrics init, rename worker params
  cmd/api/main.go
  cmd/reconciler/main.go
  cmd/scheduler/main.go
  cmd/worker/main.go
  internal/app/bootstrap.go
  internal/metrics/metrics.go
  internal/worker/worker.go
Due: Core (domain, config, bootstrap), Delivery Pipeline

refactor: rename Interface suffix on script interfaces
  internal/api/server.go
  internal/mocks/script.go
  internal/script/interfaces.go
Due: API (HTTP), Scripting (Lua)

refactor: decompose HotState interface, add NewWorker functional options
  cmd/worker/main.go
  internal/hotstate/hotstate.go
  internal/hotstate/redis.go
  internal/mocks/hotstate.go
  internal/reconciler/reconciler_test.go
  internal/scheduler/scheduler_test.go
  internal/script/engine.go
  internal/testutil/prefixed_hotstate.go
  internal/worker/concurrency_gate_test.go
  internal/worker/slow_test.go
  internal/worker/worker.go
  internal/worker/worker_concurrency_test.go
  internal/worker/worker_errorpath_test.go
  internal/worker/worker_failure_test.go
  internal/worker/worker_integration_test.go
  internal/worker/worker_test.go
Due: HotState (Redis), Delivery Pipeline, Scheduler, Scripting (Lua), Reconciler

docs: add CHANGELOG.md covering v0.1.0 through v0.3.0
  CHANGELOG.md
Due: none

feat(scripts): adiciona suporte a configurações customizadas por script via script_config e leitura de arquivos companion JSON
  internal/api/h_script.go
  internal/devmode/scripts.go
  internal/devmode/scripts_test.go
  internal/hotstate/redis.go
  internal/script/domain.go
  internal/script/engine.go
Due: HotState (Redis), API (HTTP), Scripting (Lua)

docs: update CHANGELOG.md for v0.4.0
  CHANGELOG.md
Due: none

feat(script): support header removal via empty string in Lua
  internal/script/domain.go
  internal/script/engine.go
Due: Scripting (Lua)

docs: update CHANGELOG.md for v0.4.1
  CHANGELOG.md
Due: none

feat(charts): add extraEnvFrom support to all pod templates
  CHANGELOG.md
  charts/howk/templates/api.yaml
  charts/howk/templates/reconciler.yaml
  charts/howk/templates/scheduler.yaml
  charts/howk/templates/worker.yaml
  charts/howk/values.yaml
Due: none

feat(script): resolve env vars in script_config at execution time
  CHANGELOG.md
  internal/script/engine.go
Due: Scripting (Lua)

docs(security): adiciona comentários e testes sobre expansão de variáveis de ambiente
  internal/api/h_script.go
  internal/script/engine.go
  internal/transformer/engine.go
  internal/transformer/engine_test.go
Due: API (HTTP), Scripting (Lua)

docs: update CHANGELOG.md for v0.4.4
  CHANGELOG.md
Due: none

docs: adiciona injeção de segredos em tempo de entrega e atualiza documentação de arquitetura
  CHANGELOG.md
  README.md
  docs/ARCHITECTURE.md
  docs/transformers-examples.md
  docs/transformers.md
Due: none

feat(delivery): adiciona overrides de entrega com templates não resolvidos (#5)
  CHANGELOG.md
  README.md
  docs/ARCHITECTURE.md
  docs/transformers-examples.md
  docs/transformers.md
  internal/delivery/overrides.go
  internal/delivery/overrides_test.go
  internal/domain/types.go
  internal/reconciler/reconciler.go
  internal/transformer/engine.go
  internal/transformer/engine_test.go
  internal/worker/worker.go
  internal/worker/worker_concurrency_test.go
  internal/worker/worker_errorpath_test.go
  internal/worker/worker_overrides_test.go
  internal/worker/worker_test.go
Due: Core (domain, config, bootstrap), Delivery Pipeline, Reconciler

feat(retry): adiciona suporte a status de resposta configuráveis para tentativas de reenvio em scripts Lua
  CHANGELOG.md
  docs/LUA_ENGINE.md
  internal/domain/types.go
  internal/reconciler/reconciler.go
  internal/retry/strategy.go
  internal/retry/strategy_test.go
  internal/script/domain.go
  internal/script/engine.go
  internal/script/engine_test.go
  internal/worker/worker.go
Due: Core (domain, config, bootstrap), Delivery Pipeline, Scripting (Lua), Reconciler

docs: cut v0.4.6 in CHANGELOG
  CHANGELOG.md
Due: none

feat(dlq): adiciona configuração detalhada para fila de mensagens mortas
  .env.example
  config.example.yaml
  internal/config/config.go
  internal/domain/types.go
  internal/domain/types_test.go
  internal/worker/dlq_helpers_test.go
  internal/worker/worker.go
  internal/worker/worker_test_helper.go
Due: Core (domain, config, bootstrap), Delivery Pipeline

docs: cut v0.4.7 in CHANGELOG
  CHANGELOG.md
Due: none

build(make): guard against bare-semver Docker Hub tags
  Makefile
Due: none
